<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>asdf</title>
<body>
  <div class="contenedor">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quaerat quo ipsam iusto quis libero eaque laboriosam ut? Excepturi, nisi? Amet unde adipisci omnis dicta voluptatum id modi iusto vero?</h3>
    {{> $producto/producto}}
  </div>
</body>
</html>