@import '~normalize.css/normalize.css';

.contenedor {
	display: flex;
    flex-wrap: wrap;
    align-content:center;
    margin: 0 auto;
    width: 80%;
}
.caja {
	padding: 1em;
    display: inline-block;
    width: 30%;
	margin: 0.5em;
	background-color: rgba(152, 198, 236, 0.918);
    font-family: Arial, Helvetica, sans-serif;

}
.primero {
	position: relative;
	&:after {
		content: "F";
		font-size: 13px;
		background-color: rgb(188, 248, 47);
		border-radius: 50px;
		position: absolute;
		width: 30px;
		height: 30px;
		line-height: 2.5;
		text-align: center;
		top: -7px;
		left: -7px;
	}
}
.ultimo {
    position: relative;
	&:after {
		content: "L";
		font-size: 13px;
		background-color: rgb(248, 47, 47);
		border-radius: 50px;
		position: absolute;
		width: 30px;
		height: 30px;
		line-height: 2.5;
        text-align: center;
        color: wheat;
		top: -7px;
		right: -7px;
	}
}
