<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>asdf</title>
<body>
    <p>Módulo llamado desde un repositorio</p>  
  <div class="contenedor">
    {{> $producto/producto}}
  </div>
</body>
</html>