$button: (
    body: (background-color: black),
    headline: (color: white, color-hover: whitesmoke),
    kicker: (color: whitesmoke, color-hover: whitesmoke),
    aboveheadline: (color: white),
    standfirst: (color: white),
    byline-item: (color: white),
    byline-location: (color: white)
) !default;