$variables: (
    body: (background-color: orange),
    headline: (color: white, color-hover: whitesmoke),
    kicker: (color: red, color-hover: whitesmoke),
    aboveheadline: (color: white),
    standfirst: (color: white),
    byline-item: (color: white),
    byline-location: (color: white),
    footer:( color:red)
) !default;